
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #78d5ef;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
  
  html, body {
      font-size: 15px;
      min-width: 800px;
      width: 100%;
      font-family: sans-serif;
  }
  
  a:link {
      color: #b75d33;
      text-decoration: none;
  }
  a:visited {
      color: #b74d33;
      text-decoration: none;
  }
  a:hover {
      color: #694b1d;
      text-decoration: underline;
  }
  a:active {
      color: #ffe714;
      text-decoration: underline;
  }
  
  body {
      /* We change the width for wide screens */
      width: 90%;
      max-width:1500px;
      margin: auto;
      font-size: 15px;
  }
  
  
  .header {
      text-align: center;
  }
  
  .header h2 {
      margin-top: -10px;
      font-weight: 300;
      text-align: center;
  }
  
  .header h3 {
      margin-top: -10px;
      font-weight: 300;
      text-align: center;
  }
  .header h5 {
      margin-top: -10px;
      font-weight: 300;
      text-align: center;
      font-style: italic;
  }
  .header pre {
      margin-top: -10px;
      clear: both;
      margin-bottom: 20px; 
  }
  
  .download {
      text-align: left;
      clear: both;
      margin-bottom: 20px;
  }
  
  .yt-demo .video {
      text-align: center;
  }
  
  .yt-demo h3 {
      text-align: center;
  }
  
  .highlight {
      text-align: center;
  }
  .highlight img {
      margin-top: 30px;
      width: 90%;
      height: auto;
  }
  
  .highlight2 {
      text-align: center;
  }
  .highlight2 img {
      margin-top: 30px;
      width: 48%;
      height: auto;
  }
  .abstract {
      text-align: left;
  }
  
  
  .demo h1 {
      text-align: left;
  }
  
  .demo h3 {
      text-align: center;
  }
  .demo #interactive_div {
      min-height: 480px;
      position: relative;
      margin-bottom: 15px;
  }
  .demo #mic {
      position: absolute;
      top: 310px;
      left: 237px;
      width: 32px;
      height: 32px;
      z-index: 1;
  }
  .demo #source1 {
      position: absolute;
      top: 191.70px;
      left: 136.47px;
      width: 10px;
      height: 10px;
      z-index: 10;
  }
  
  .demo #source2 {
      position: absolute;
      top: 485.64px;
      left: 209.76px;
      width: 10px;
      height: 10px;
      z-index: 10;
  }
  
  .demo #source3 {
      position: absolute;
      top: 380.92px;
      left: 89.29px;
      width: 10px;
      height: 10px;
      z-index: 10;
  }
  
  .demo #source4 {
      position: absolute;
      top: 465.72px;
      left: 160.44px;
      width: 10px;
      height: 10px;
      z-index: 10;
  }
  
  canvas {
      width: 640px !important;
      height: 640px !important;
      z-index: 0;
  }
  .demo #interactive {
      text-align: left;
  }
  
  .demo audio {
      margin: auto;
  }
  
  .source h1 {
      text-align: left;
  }
  .source img {
      width: auto;
      height: 100px;
      text-align: left;
  }
  
  .comparisons h1 {
      text-align: left;
  }
  
  .citation h1 {
      text-align: left;
  }
  .citation .cite {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #444;
    display: block;
    font-family: monospace;
    font-size: 12px;
    margin: 1em 0;
    overflow: auto;
    padding: 10px;
    white-space: pre-line;
  }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  /*  margin-right: -15px;
    margin-left: -15px; */
  }
  
  .video-container {
      position: relative;
      width: 90%;
      height: 0;
      padding-bottom: 56.25%;
      margin: auto;
  }
  
  .youtube-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  td {
      width: 300px;
  }
  td audio {
      width: 100%;
      margin: auto;
      display: block;
  }
  
  .audio {
    min-height: 50px;
  /*    display: flex;
      float: top;
  */}
  
  /* Larger than a phone screen */
  @media (min-width: 1100px) {
    .col-md-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%; }
  
    .col-md-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.67%;
      flex: 0 0 66.67%;
      max-width: 66.67%; }
  
    .narrow-container {
      max-width: 80%;
      margin: auto;
    }
  
    .yt-demo {
      max-width: 80%;
      margin: auto;
    }
    /* The container for the GT locations image */
    .gt-locations {
      margin:auto;
      padding-right: 1rem !important; 
      padding-top: 3rem !important;
      width: 300px;
    }
  
    .gt-locations img {
      width: 100%;
    }
  }
  
  /* Phone Screen or tablet */
  @media (max-width: 1100px) {
    /* The container for the GT locations image */
    .gt-locations {
      margin:auto;
      width: 100%;
    }
  
    .gt-locations img {
      display: block;
      margin: auto;
      width: 340px;
    }
  
    .gt-locations audio {
      width: 70%;
    }
  
    .yt-demo {
      max-width: 100%;
      margin: auto;
    }
  
    .input-mixture {
      width: 70%;
    }
  
    .video-container {
      width: 100%;
    }
  }
  
  /* Vertical interactive */
  @media (max-width: 1481px) {
    .demo .network {
      padding-top: 3rem !important;
    }
  }
  
  .col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
  /*  padding-right: 10px;
    padding-left: 10px;*/
  }
  
  .col-md-8 {
      position: relative;
      width: 100%;
      min-height: 1px;
  }
  
.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.w-auto {
  width: auto !important; }

.h-25 {
  height: 25% !important; }

.h-50 {
  height: 50% !important; }

.h-75 {
  height: 75% !important; }

.h-100 {
  height: 100% !important; }

.h-auto {
  height: auto !important; }

.mw-100 {
  max-width: 100% !important; }

.mh-100 {
  max-height: 100% !important; }

.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }